.world {
    width: 100%;
    height: calc(100% - 2.5rem);

    overflow-x: hidden;
    overflow-y: scroll;

    position: relative;

    background-color: #303030;
}

.world-container {
    width: 90%;
    max-width: 40rem;
    height: auto;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.world-title {
    width: auto;
    height: auto;

    margin: 3rem 0;
    padding: 0.5rem 1.5rem;

    position: relative;
    float: left;
    left: 50%;
    transform: translate(-50%, 0);

    color: #808080;
    font-size: 1.25rem;
    font-weight: 700;

    background-color: #404040;
    border-radius: 0.5rem;
}

.world-greeting {
    width: 90%;
    height: auto;

    margin-bottom: 3rem;

    position: relative;
    float: left;
    left: 50%;
    transform: translate(-50%, 0);

    color: #606060;
    font-size: 0.7rem;
    font-weight: 100;
    text-align: center;
    line-height: 2;
}

.world-symbol {
    margin-right: 0.5rem;

    color: #ffea00;
}

.world-subtitle {
    width: 100%;
    height: auto;

    position: relative;
    float: left;

    color: #aaaaaa;
    font-size: 1rem;
    font-weight: 500;
}

.world-description {
    width: calc(100% - 3rem);
    height: auto;

    margin: 1rem 1.5rem 0 1.5rem;

    position: relative;
    float: left;

    color: #606060;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 2;
}

.world-loading {
    width: calc(100% - 3rem);
    height: 18rem;

    margin: 2rem 1.5rem;

    position: relative;
    float: left;

    color: #aaaaaa;
    font-size: 0.6rem;
    font-weight: 500;
    text-align: center;
    line-height: 18rem;

    background-color: #353535;
    border-radius: 0.5rem;

    opacity: 0.7;
}
